# Игнорировать виртуальное окружение
venv/

# Игнорировать кэш-файлы Python
__pycache__/
*.py[cod]

# Игнорировать файлы логов
*.log

# Игнорировать настройки PyCharm
.idea/

# Игнорировать системные файлы macOS
.DS_Store
